* {
  margin: 0;
  padding: 0;
}
body {
  background: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=83013835f95ea816f46437d771d86a7b');
  background-attachment: fixed;
  background-size: cover;
}
img {
  max-width: 100%;
  margin-bottom: 10px;
}


#main {
  min-height: calc(100vh - 150px);
}

#body {
  .row {
	@include outer-container;
	#intro-portfolio, #intro-journal {
	  @include span-columns(6);
	}
	#intro {
	  @include span-columns(12);
	}
  }
  .brick {
	background: rgba(255,255,255,.9);
	box-sizing: border-box;
	margin: 10px 0;
	padding: 20px;
	a.btn {
	  border: 3px solid $mjl_blue;
	  border-radius: 5px;
	  padding: 10px;
	  color: $mjl_blue;
	  display: block;
	  margin: 10px auto;
	  text-align: center;
	  max-width: 150px;
	}
  }
}

.container {
  width: 75%;
  // max-width: 1000px;
  margin: 0 auto;
  @media (max-width: 1200px) {
	width: 90%;
  }
  
}

.brick.split:first-child {
  margin-right: 15px !important;
}

#footer {
  padding: 10px 0;
  height: 100px;
  margin-top: 50px;
  text-align: center;
  background: $mjl_green;
  border-top: $divider;
  border-bottom: $divider;
  .container {
	@include outer-container;
	#left, #center, #right {
	  @include span-columns(4);
	}
  }
}
