body {
  background: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=83013835f95ea816f46437d771d86a7b');
  background-attachment: fixed;
  background-size: cover;
}



#body {
  .container {
	background: rgba(255,255,255,.9);
  }
  .content {
	img {
	  width: 100%;
	  max-width: 800px;
	  display: none;
	  margin: 10px auto;
	}
  }
}

.container {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
}
