a {
  text-decoration: none;
  font-weight: bold;
  &:link, &:active, &:visited {
	color: $mjl_blue;
  }
  &:hover {
	color: $mjl_green;
	border-color: $mjl_green;
	text-decoration: underline;
  }
}

#footer a {
  color: $dark-grey;
  &:hover {
	color: #fff;
  }
}

.navbar {
  text-align: center;
  margin-bottom: 50px;
  background: $mjl_blue;
  ul {
	list-style-type: none;
	padding: 50px 0;
	margin: 0;
	border-top: $divider;
	border-bottom: $divider;
	li {
	  display: inline-block;
	  @media (max-width: 650px) {
		display: block;
		margin: 10px 0;
		width: 100%;
	  }
	  a {
		background: #fff;
		padding: 10px 40px;
		margin: 0 20px;
		font-size: 1.2em;
		@media (max-width: 1050px) {
		  margin: 0 10px;
		  padding: 10px 20px;
		}
		@media (max-width: 650px) {
		  display: block;
		  width: 100%;
		  margin: 0;
		}
	  }
	}
  }
}
