a {
  text-decoration: none;
  &:link, &:active, &:visited {
	color: $dark-grey;
  }
}


.navbar {
  text-align: center;
  margin-bottom: 50px;
  background: $mjl_blue;
  ul {
	list-style-type: none;
	padding: 50px;
	margin: 0;
	border-top: $divider;
	border-bottom: $divider;
	li {
	  display: inline-block;
	  a {
		background: #fff;
		padding: 10px 40px;
		margin: 0 20px;
		font-size: 1.2em;
	  }
	}
  }
}
