.post {
  .data {
	font-size: .9em;
	text-align: right;
	padding: 5px 0;
  }
  p {
	margin-bottom: 10px;
  }
  img.img {
	max-width: 100%;
  }
}

.thumb {
  a {
	background: $mjl_blue;
	color: #fff;
	display: inline-block;
	padding: 5px;
	margin: 10px 2px;
	&:hover {
	  background: $mjl_green;
	}
  }
}

a.skill {
  display: inline-block;
  margin: 10px 5px 5px 0;
  padding: 5px;
  background: $mjl_blue;
  color: #fff;
  &:hover {
	background: $mjl_green;
  }
}
.portfolio, .journal, .blog {
  @include outer-container;
  li.block {
	@include span-columns(4);
	@include omega(3n);
	@media (max-width: 1050px) {
	  @include span-columns(6);
	  @include omega(2n);
	}
	@media (max-width: 600px) {
	  @include span-columns(12);
	  @include omega(1n);
	}
  }
}
