body {
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Slab', serif;
}

h2 {
  border-bottom: 2px solid $dark-grey;
  margin-bottom: 5px;
}
header {
  text-align: center;
  padding: 30px 0 15px;
  h1, h2 {
	margin: 5px;
	padding: 5px 5px 2px;
	background: #fff;
	display: inline-block;
  }
  h1 {
	font-size: 4em;
	a { color: $mjl_blue !important;}
  }
  h2 {
	color: $mjl_green;
	font-size: 3em;
	margin-bottom: 30px;
  }
}

#body {
  h1 {
	margin: 5px;
	padding: 5px 5px 2px;
	background: #fff;
	display: inline-block;
	font-size: 3em;
  }
  h2 {
	margin-bottom: 15px;
  }
}
