body {
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Josefin Slab', serif; }

button {
  font-size: 2em; }

h1 {
  border: 2px solid #333; }

h2 {
  border-bottom: 2px solid #333;
  margin-bottom: 5px; }

header {
  text-align: center;
  padding: 30px 0 15px; }
  header h1, header h2 {
    margin: 5px;
    padding: 5px 5px 2px;
    background: #fff;
    display: inline-block; }
  header h1 {
    font-size: 4em; }
    header h1 a {
      color: #5271A4 !important; }
  header h2 {
    color: #6E9153;
    font-size: 3em;
    margin-bottom: 30px;
    border: 2px solid #333; }

#body h1 {
  margin: 5px;
  padding: 5px 5px 2px;
  background: #fff;
  display: inline-block;
  font-size: 3em; }

#body h2 {
  margin-bottom: 15px; }

p {
  margin-bottom: 10px; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

header .contact-item {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 5%; }
  @media (max-width: 800px) {
    header .contact-item {
      display: block; } }
  @media (max-width: 600px) {
    header .contact-item {
      display: none; } }
  header .contact-item a {
    color: #fff; }

a {
  text-decoration: none;
  font-weight: bold; }
  a:link, a:active, a:visited {
    color: #5271A4; }
  a:hover {
    color: #6E9153;
    border-color: #6E9153;
    text-decoration: underline; }

#footer a {
  color: #333; }
  #footer a:hover {
    color: #fff; }

.navbar {
  text-align: center;
  margin-bottom: 50px;
  background: #5271A4; }
  .navbar ul {
    list-style-type: none;
    padding: 50px 0;
    margin: 0;
    border-top: 8px solid #fff;
    border-bottom: 8px solid #fff; }
    .navbar ul li {
      display: inline-block; }
      @media (max-width: 650px) {
        .navbar ul li {
          display: block;
          margin: 10px 0;
          width: 100%; } }
      .navbar ul li a {
        background: #fff;
        padding: 10px 40px;
        margin: 0 20px;
        font-size: 1.2em; }
        @media (max-width: 1050px) {
          .navbar ul li a {
            margin: 0 10px;
            padding: 10px 20px; } }
        @media (max-width: 650px) {
          .navbar ul li a {
            display: block;
            width: 100%;
            margin: 0; } }

* {
  margin: 0;
  padding: 0; }

body {
  background: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=83013835f95ea816f46437d771d86a7b");
  background-attachment: fixed;
  background-size: cover; }

img {
  max-width: 100%;
  margin-bottom: 10px; }

#main {
  min-height: calc(100vh - 150px); }

#body .row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  #body .row::after {
    clear: both;
    content: "";
    display: table; }
  #body .row #intro-portfolio, #body .row #intro-journal {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #body .row #intro-portfolio:last-child, #body .row #intro-journal:last-child {
      margin-right: 0; }
  #body .row #intro {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    #body .row #intro:last-child {
      margin-right: 0; }

#body .brick {
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  margin: 10px 0;
  padding: 20px; }
  #body .brick a.btn {
    border: 3px solid #5271A4;
    border-radius: 5px;
    padding: 10px;
    color: #5271A4;
    display: block;
    margin: 10px auto;
    text-align: center;
    max-width: 150px; }

.container {
  width: 75%;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .container {
      width: 90%; } }

.brick.split:first-child {
  margin-right: 15px !important; }

#footer {
  padding: 10px 0;
  height: 100px;
  margin-top: 50px;
  text-align: center;
  background: #6E9153;
  border-top: 8px solid #fff;
  border-bottom: 8px solid #fff; }
  #footer .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    #footer .container::after {
      clear: both;
      content: "";
      display: table; }
    #footer .container #left, #footer .container #center, #footer .container #right {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      #footer .container #left:last-child, #footer .container #center:last-child, #footer .container #right:last-child {
        margin-right: 0; }

.post .data {
  font-size: .9em;
  text-align: right;
  padding: 5px 0; }

.post p {
  margin-bottom: 10px; }

.post img.img {
  max-width: 100%; }

.thumb a {
  background: #5271A4;
  color: #fff;
  display: inline-block;
  padding: 5px;
  margin: 10px 2px; }
  .thumb a:hover {
    background: #6E9153; }

a.skill {
  display: inline-block;
  margin: 10px 5px 5px 0;
  padding: 5px;
  background: #5271A4;
  color: #fff; }
  a.skill:hover {
    background: #6E9153; }

.portfolio, .journal, .blog {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .portfolio::after, .journal::after, .blog::after {
    clear: both;
    content: "";
    display: table; }
  .portfolio li.block, .journal li.block, .blog li.block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .portfolio li.block:last-child, .journal li.block:last-child, .blog li.block:last-child {
      margin-right: 0; }
    .portfolio li.block:nth-child(3n), .journal li.block:nth-child(3n), .blog li.block:nth-child(3n) {
      margin-right: 0; }
    .portfolio li.block:nth-child(3n+1), .journal li.block:nth-child(3n+1), .blog li.block:nth-child(3n+1) {
      clear: left; }
    @media (max-width: 1050px) {
      .portfolio li.block, .journal li.block, .blog li.block {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .portfolio li.block:last-child, .journal li.block:last-child, .blog li.block:last-child {
          margin-right: 0; }
        .portfolio li.block:nth-child(2n), .journal li.block:nth-child(2n), .blog li.block:nth-child(2n) {
          margin-right: 0; }
        .portfolio li.block:nth-child(2n+1), .journal li.block:nth-child(2n+1), .blog li.block:nth-child(2n+1) {
          clear: left; } }
    @media (max-width: 600px) {
      .portfolio li.block, .journal li.block, .blog li.block {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .portfolio li.block:last-child, .journal li.block:last-child, .blog li.block:last-child {
          margin-right: 0; }
        .portfolio li.block:nth-child(1n), .journal li.block:nth-child(1n), .blog li.block:nth-child(1n) {
          margin-right: 0; }
        .portfolio li.block:nth-child(1n+1), .journal li.block:nth-child(1n+1), .blog li.block:nth-child(1n+1) {
          clear: left; } }

a.white {
  color: #fff; }

header h5 {
  background: #fff;
  border: 2px solid #333;
  padding: 2px;
  display: inline-block; }

.post img {
  display: block;
  margin: 10px auto; }

.post ol, .post ul {
  margin-left: 50px; }

.post h2 {
  margin-top: 50px; }

.post .row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .post .row::after {
    clear: both;
    content: "";
    display: table; }
  .post .row .split {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .post .row .split:last-child {
      margin-right: 0; }
    @media (max-width: 800px) {
      .post .row .split {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .post .row .split:last-child {
          margin-right: 0; } }

ul.social {
  list-style-type: none;
  margin-left: 0; }
  ul.social li {
    line-height: 1.5em;
    padding-bottom: 10px;
    font-weight: bold; }
    ul.social li a {
      color: #5271A4; }
      ul.social li a:hover {
        color: #6E9153; }
    ul.social li i {
      font-size: 1.5em;
      padding-right: 10px; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 5px;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px; }

input,
select,
textarea {
  display: block; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 5px; }

[type="file"] {
  margin-bottom: 5px;
  width: 100%; }

select {
  margin-bottom: 5px;
  max-width: 100%;
  width: auto;
  font-size: 1.2em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  box-sizing: border-box;
  width: 100%;
  font-size: 1.2em; }

#flash-messages {
  margin: 25px auto !important; }

button {
  padding: 10px 20px;
  border: 2px solid #5271A4;
  background: transparent;
  margin-top: 25px; }
  button:hover {
    border-color: #6E9153; }
